{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
    <title>验证邮箱</title>
{% endblock %}
{% block css %}
    <link href="{% static 'AmazeUI-2.4.2/assets/css/admin.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/personal.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/stepstyle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'AmazeUI-2.4.2/assets/js/amazeui.js' %}"></script>
{% endblock %}
{% block content %}
    <!--头 -->
    {% include 'include/head.html' %}
    {% include 'include/nav_bar.html' %}
    <b class="line"></b>
    <div class="center">
        <div class="col-main">
            <div class="main-wrap">

                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">绑定邮箱</strong> /
                        <small>Email</small>
                    </div>
                </div>
                <hr/>
                <!--进度条-->
                <div class="m-progress">
                    <div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">验证邮箱</p>
                            </span>
                        <span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
                        <span class="u-progress-placeholder"></span>
                    </div>
                    <div class="u-progress-bar total-steps-2">
                        <div class="u-progress-bar-inner"></div>
                    </div>
                </div>
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="user-email" class="am-form-label">验证邮箱</label>
                        <div class="am-form-content">
                            <input type="email" id="user-email" placeholder="请输入邮箱地址">
                        </div>
                    </div>
                    <div class="am-form-group code">
                        <label for="user-code" class="am-form-label">验证码</label>
                        <div class="am-form-content">
                            <input type="tel" id="user-code" placeholder="验证码">
                        </div>
                        <a class="btn" href="javascript:void(0);" onclick="sendMobileCode();" id="sendMobileCode">
                            <div class="am-btn am-btn-danger">验证码</div>
                        </a>
                    </div>
                    <div class="info-btn">
                        <div class="am-btn am-btn-danger">保存修改</div>
                    </div>

                </form>

            </div>
            <!--底部-->
            <div class="footer">
                <div class="footer-hd">
                    <p>
                        <a href="#">恒望科技</a>
                        <b>|</b>
                        <a href="#">商城首页</a>
                        <b>|</b>
                        <a href="#">支付宝</a>
                        <b>|</b>
                        <a href="#">物流</a>
                    </p>
                </div>
                <div class="footer-bd">
                    <p>
                        <a href="#">关于恒望</a>
                        <a href="#">合作伙伴</a>
                        <a href="#">联系我们</a>
                        <a href="#">网站地图</a>
                        <em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank"
                                                                   title="模板之家">模板之家</a> - Collect from <a
                                href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
                    </p>
                </div>
            </div>
        </div>

			{% include 'include/aside.html' %}
    </div>
{% endblock %}


