{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
<title>账户余额</title>
{% endblock %}
{% block css %}
		<link href="{% static 'AmazeUI-2.4.2/assets/css/admin.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css">

		<link href="{% static 'css/personal.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block script %}
		<script src="{% static 'AmazeUI-2.4.2/assets/js/jquery.min.js' %}"  type="text/javascript"></script>
		<script src="{% static 'AmazeUI-2.4.2/assets/js/amazeui.js' %}"  type="text/javascript"></script>
{% endblock %}
{% block content %}
		<!--头 -->
        {% include 'include/head.html' %}
        {% include 'include/nav_bar.html' %}
		<b class="line"></b>

		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">账户余额</strong> / <small>Account&nbsp;Balance</small></div>
						</div>
						<hr/>
						<div class="finance">
							<div class="financeText">
								<p>可用余额:<span>¥0.0</span></p>
								<a href="safety.html">安全中心：保护账户资产安全</a>
							</div>
							<div class="financeTip">
								<img src="../images/Balance.png" />
								<a href="walletlist.html">查看账户明细</a>
								<p>提示：余额是您在本商城的一个账户，如账户内有款项，下单时可以直接勾选使用，抵消部分总额，方便快捷安全高效。</p>
							</div>
						</div>
				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
								<b>|</b>
								<a href="# ">商城首页</a>
								<b>|</b>
								<a href="# ">支付宝</a>
								<b>|</b>
								<a href="# ">物流</a>
							</p>
						</div>
						<div class="footer-bd ">
							<p>
								<a href="# ">合作伙伴</a>
								<a href="# ">联系我们</a>
								<a href="# ">网站地图</a>
							</p>
					</div>
				</div>
			</div>

        {% include 'personal/person_base/aside.html' %}
		</div>
{% endblock %}




