{% extends 'base/base.html' %}

<title>{% block title %}登陆{% endblock %}</title>
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/dlstyle.css' %}" rel="stylesheet"/>
    <link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            let URL = 'http://127.0.0.1:8000/account/ref/';
            $('#cap_img').click(function () {
                $.get(URL, function (result) {
                    $('#cap_img').attr('src', result.img_url);
                    $('#cap_key').val(result.key)
                })
            })
        })
    </script>
{% endblock %}
{% block content %}

    <div class="login-boxtitle">
        <a href="home.html"><img alt="logo" src="{% static 'images/logobig.png' %}"/></a>
    </div>
    <div class="login-banner">
        <div class="login-main">
            <div class="login-banner-bg"><span></span><img src="{% static 'images/big.jpg' %}"/></div>
            <div class="login-box">
                <h3 class="title">登录商城</h3>
                <div class="clear"></div>
                <div class="login-form">
                    <form action="{% url 'login' %}" method="post" data-toggle="validator" role="form">
                       {% if next1 %}
                            <input type="hidden" name="next1" value={{ next1 }}>
                       {% endif %}
                        {% csrf_token %}
                        <div class="user-name">
                            <label for="user"><i class="am-icon-user"></i></label>
                            <input type="text" name="nickname" id="user" placeholder="邮箱/手机/用户名">
                        </div>
                        <div class="user-pass">
                            <label for="password"><i class="am-icon-lock"></i></label>
                            <input type="password" name="password" id="password" placeholder="请输入密码">
                            {% if login_msg %}
                                <p style="color: red">{{ login_msg }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <img id="cap_img" src="{{ img_url }}">
                            <input type="text" name="code" placeholder="请输入验证码" style="width: 50px">

                            <input id="cap_key" type="hidden" name="key" value="{{ key }}">
                            {% if capt_error %}
                                <p style="color: red">{{ capt_error }}</p>
                            {% endif %}
                        </div>

                        <div class="am-cf">
                            <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm">
                        </div>
                    </form>
                </div>
                <div class="login-links">
                    <label for="remember-me"><input id="remember-me" type="checkbox">记住密码</label>
                    <a href="{% url 'password_update' %}" class="am-fr">忘记密码</a>
                    <a href="{% url 'register' %}" class="zcnext am-fr am-btn-default">注册</a>
                    <br/>
                </div>

                <div class="partner">
                    <h3>合作账号</h3>
                    <div class="am-btn-group" style="height: 60px">
                        <li><a href="#"><i class="am-icon-qq am-icon-sm" style="height: 30px"></i><span>QQ登录</span></a></li>
                        <li><a href="#"><i class="am-icon-weibo am-icon-sm" style="height: 30px"></i><span>微博登录</span> </a></li>
                        <li><a href="#"><i class="am-icon-weixin am-icon-sm" style="height: 30px"></i><span>微信登录</span> </a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}