{% extends 'base/base.html' %}
{% block title %}购物车{% endblock %}
{% load staticfiles %}
{% block css %}


    <link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'basic/css/demo.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/cartstyle.css' %}" rel="stylesheet" type="text/css" />
{#    <link href="{% static 'css/optstyle.css' %}" rel="stylesheet" type="text/css" />#}
{##}
{#    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/carts.css' %}">
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/carts.js' %}"></script>
{% endblock %}
{% block content %}
{% include 'include/head.html' %}
    <hr>
    <section class="cartMain">
        <div class="cartMain_hd">
            <ul class="order_lists cartTop">
                <li class="list_chk">
                    <!--所有商品全选-->
                    <input type="checkbox" id="all" class="whole_check">
                    <label for="all"></label>
                    全选
                </li>
                <li class="list_con">商品信息</li>
                <li class="list_info">商品参数</li>
                <li class="list_price">单价</li>
                <li class="list_amount">数量</li>
                <li class="list_sum">金额</li>
                <li class="list_op">操作</li>
            </ul>
        </div>

        <div class="cartBox">
            <div class="shop_info">
{#                <div class="all_check">#}
{#                    <!--店铺全选-->#}
{#                    <input type="checkbox" id="shop_a" class="shopChoice">#}
{#                    <label for="shop_a" class="shop"></label>#}
{#                </div>#}
{#                <div class="shop_name">#}
{#                    店铺：<a href="javascript:;">搜猎人艺术生活</a>#}
{#                </div>#}
            </div>
            <div class="order_content">
                {% for shop_cart in shop_carts %}
                <ul class="order_lists">

                    <li class="list_chk">
                        <input type="checkbox" id="checkbox_{{ shop_cart.shop_id }}" class="son_check" carid="{{ shop_cart.cart_id }}">
                        <label for="checkbox_{{ shop_cart.shop_id }}" ></label>
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="javascript:;"><img src="{{ shop_cart.img }}" alt=""></a></div>
                        <div class="list_text"><a href="{% url 'detail' %}?id={{ shop_cart.shop_id }}">{{ shop_cart.title }}</a></div>
                    </li>
                    <li class="list_info">
                        <p>{{ shop_cart.brand_name }}</p>
                        <p>尺寸：16*16*3(cm)</p>
                    </li>
                    <li class="list_price">
                        <p class="price">￥{{ shop_cart.promote_price }}</p>
                    </li>
                    <li class="list_amount">
                        <div class="amount_box">
                            <a href="javascript:;" class="reduce reSty" >-</a>
                            <input type="text" value="{{ shop_cart.number }}" class="sum" cart_id="{{ shop_cart.cart_id }}">
                            <a href="javascript:;" class="plus">+</a>
                        </div>
                    </li>
                    <li class="list_sum">
                        <p class="sum_price">￥{% widthratio shop_cart.promote_price 1 shop_cart.number %}</p>
                    </li>
                    <li class="list_op">
                        <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                    </li>
                    <section class="my_model">
                        <p class="title">删除宝贝<span class="closeModel">X</span></p>
                        <p>您确认要删除该宝贝吗？</p>
                        <div class="opBtn"><a href="javascript:;" class="dialog-sure" cartid="{{ shop_cart.cart_id }}">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
                    </section>
                </ul>
                {% endfor %}
            </div>
        </div>

        <!--底部-->
        <div class="bar-wrapper">
            <div class="bar-right">
                <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                <div class="totalMoney">共计: <strong class="total_text" >0.00</strong></div>
                <div class="calBtn" ><a href="javascript:;">结算</a></div>
            </div>
        </div>
    </section>
    <section class="model_bg"></section>


{% endblock %}